# ls Stuff {{{

if [ "$OS" = "Darwin" ]; then
  alias ls='LC_COLLATE=cs_CZ.ISO8859-2 colorls -1A --sd --gs'
  alias ll='LC_COLLATE=cs_CZ.ISO8859-2 colorls -1A --sd -l --gs'
elif [ "$OS" = "Linux" ]; then
  alias ls='lsd -1A --icon-theme unicode --group-dirs first'
  alias ll='lsd -l -1A --icon-theme unicode --group-dirs first'
  alias tree='ls --tree'
fi

alias ldown='ls ~/Downloads/'
alias sl='ls' # for typo correction :)

# END ls Stuff }}}

# Update Stuff {{{

alias cargo-update='cargo install-update -a'
alias vimup="nvim '+PlugUpdate' '+PlugUpgrade' '+CocUpdate' '+qall';"

if [ "$OS" = "Darwin" ]; then
  alias brewup='brew update; brew upgrade; brew cask upgrade; brew cleanup;' # excluded brew doctor
  alias up='omz update; rustup update; cargo-update; npm update; brewup; vimup; zplug update;'
elif [ "$OS" = "Linux" ]; then
  alias up='omz update; cargo-update; rustup update; npm update; vimup; zplug update; echo -e "\n\033[0;34mArch News:\033[0m\n"; yay -Pw; echo -e "\n\033[0;34mPacman Updates:\033[0m\n"; checkupdates; echo -e "\n\033[0;34mAUR Updates:\033[0m\n"; yay -Qu; echo -e "\n\033[0;34mRemoving Orphans:\033[0m\n"; pacman -Qdt; yay -Yc'
  alias fullup='up; sudo pacman -Syu && yay -Sua'
fi
# END Update Stuff }}}

# macOS Stuff {{{

if [ "$OS" = "Darwin" ]; then
  alias unthrottle-time-machine='sudo sysctl debug.lowpri_throttle_enabled=0;'
  alias throttle-time-machine='sudo sysctl debug.lowpri_throttle_enabled=1;'

  ### Checking mute and adjusting volume of computer via terminal
  alias chkvol='osascript -e "output volume of (get volume settings)"'
  alias chkmute='osascript -e "output muted of (get volume settings)"'
  alias setvol='set_volume'
  alias mute='mute_vol'

  # Shpotify - macOS CLI Spotify controller
  alias spot='spotify'
  alias spotstat='spot status'
fi

# END macOS Stuff }}}

# Base Conversion {{{

alias rc='radix-calc'
alias rcc='radix-calc --all'

# Base Conversion }}}

# Docker Stuff {{{

[ "$OS" = "Linux" ] && alias startdocker='sudo systemctl start docker.service'
alias docker='sudo docker'
alias dockcomp='docker-compose'
alias dockprune="echo '\n\033[0;34mPruning Containers...\033[0m' && docker container prune -f && echo '\n\033[0;34mPruning Images...\033[0m' && docker image prune -f && echo '\n\033[0;34mPruning System...\033[0m' && docker system prune -f"

# END Docker Stuff }}}

# Convenience {{{

alias vim='nvim'
# https://www.reddit.com/r/vim/comments/geg7q2/performancekiller_plugins/
# alias vi=''
alias g='glow -p'
[ "$OS" = "Darwin" ] && alias py='python3' && alias p3='pip3'
alias fuck='eval $(TF_ALIAS=fuck PYTHONIOENCODING=utf-8 thefuck $(fc -ln -1))'
alias please='sudo $(fc -ln -1)' # Rerun last command with sudo
alias weather='ansiweather | sed "s/Sunrise.*S/S/"'
alias weather-detailed='curl wttr.in'
alias f='fzf'
alias p="lpass login --color=auto $LPASSUSRNAME"
alias getp='lpass show --password --clip'

# Autojump / z / fz
alias j='z'
alias jj='zz'

if [ "$OS" = "Linux" ]; then

  # This is for switching audio profiles for my bluetooth headphones since I
  # couldn't get it working automatically from HSP/HFP to A2DP (but could vice versa for some reason).
  # TODO: Get rid of this and get the switching to work automatically
  alias btprof='pacmd set-card-profile 2 a2dp_sink'

  alias startx='ssh-agent startx'
  alias cppng='xclip -selection clipboard -t image/png'
  alias todo='vim -O2 ~/docs/notes/work/todo.md ~/docs/notes/personal/todo.md'
fi

# END Convenience }}}

# Safety {{{

alias rm="safe-rm"
alias cp="cp -i"
alias mv="mv -i"

# END Safety }}}

# Fun Stuff {{{

alias trip='yes "$(seq 231 -1 16)" | while read i; do printf "\x1b[48;5;${i}m\n"; sleep .02; done'
alias matrix='unimatrix -s 93'
alias pipes='pipes.sh -f 75 -t 3 -B'
alias vicheat='sxiv ~/notes/img/vim_cheatsheet.gif'

alias reddit='tuir'
alias emoji='emoj'

# END Fun Stuff }}}

# Configs {{{

alias aliases='vim $XDG_CONFIG_HOME/zsh/.aliases'
alias zfuncs='vim $XDG_CONFIG_HOME/zsh/.zfunctions'
alias zshrc='vim $XDG_CONFIG_HOME/zsh/.zshrc'
alias srczrc='source $XDG_CONFIG_HOME/zsh/.zshrc'
alias vimrc='vim $XDG_CONFIG_HOME/nvim/init.vim'
alias tmconf='vim $XDG_CONFIG_HOME/tmux/tmux.conf'

# Needed to follow XDG
alias gpg='gpg2 --homedir "$XDG_DATA_HOME"/gnupg'

# END Configs }}}

# Tasks/Habits {{{

alias t='tb'
alias tasks='tb'
alias task='tb --task'
alias h='habitctl'
alias habits='habitctl log && echo "\nTODO:\n" && habitctl todo'
alias habitedit='habitctl edit'

# END Tasks/Habits }}}

# vim: ft=zsh foldmethod=marker:
