#!/bin/sh

# Don't currently use any gnome apps, so this is commented, but if I end up
# starting to use some, I'm leaving this in so I don't have to google it
# at that point
# Gnome apps start slow if services fail, so we fix it
# dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY

remaps &                      # get some remaps going
xcompmgr &                    # for transparency
xscreensaver -no-splash &     # for screensavers
sxhkd &                       # so my shortcuts actually work
dunst &                       # notifications
unclutter &                   # removes mouse from screen if not active
flameshot &                   # startup flameshot for screenshots
firefox &                     # startup browser
TogglDesktop &                # time tracking
spotify &                     # music is great

# HDMI on cairhein and DP on sheinar despite labels of inputs
# For reference:
#     xrandr --newmode "2560x1440_30.00"  146.25  2560 2680 2944 3328  1440 1443 1448 1468 -hsync +vsync
if [[ $(hostname) == 'cairhein' ]]; then
  teams &        # Only use on work machine
  VirtualBox &   # Only use on work machine
  xrandr --output eDP-1 --mode 1920x1080 --left-of DP-1-3
  xrandr --newmode "2560x1440_60.00"  312.25  2560 2752 3024 3488  1440 1443 1448 1493 -hsync +vsync
  xrandr --addmode DP-1-3 2560x1440_60.00
  xrandr --output DP-1-3 --mode 2560x1440 --rate 60 --primary
  xrandr --output DP-3 --mode 2560x1440 --rate 60 --right-of DP-1-3
elif [[ $(hostname) == 'shienar' ]]; then
  mpd &  # I only have mpd set up on my desktop... for now ;)
  xrandr --newmode "2560x1440_144.00"  808.75  2560 2792 3072 3584  1440 1443 1448 1568 -hsync +vsync
  # xrandr --addmode DP-0 2560x1440_144.00
  # xrandr --addmode DP-1 2560x1440_144.00
fi

setbg &            # backup script (low because of xrandr fuckery)
launch_polybar &   # start polybar via script (last cuz it always breaks)

#if [[ "$(tty)" = "/dev/tty1" ]]; then
#  pgrep bspwm || startx
#fi
