* {
  background-color: #282C33;
  border-color: #2e343f;
  text-color: #8ca0aa;
  spacing: 0;
  width: 50%;
  highlight: italic underline;
}

inputbar {
  border: 0 0 1px 0;
  children: [prompt,entry];
}

prompt {
  padding: 7px;
  border: 0 1px 0 0;
}

textbox {
  background-color: #2e343f;
  border: 0 0 1px 0;
  border-color: #282C33;
  padding: 3px 7px;
  highlight: @highlight;
}

entry {
  padding: 7px;
}

listview {
  cycle: false;
  margin: 0 0 -1px 0;
  scrollbar: false;
}

element {
  border: 0 0 1px 0;
  padding: 5px;
}

element selected {
  background-color: #2e343f;
}
