snippet start "starting a python script"
"""
$1
"""

# imports


def main():
    """
    Main method
    """
    $2


if __name__ == "__main__":
    try:
        main()
    except KeyboardInterrupt:
        pass
endsnippet
